/* ////////// Règles attribuées à l'ensemble de la section ////////// */
.install-section {
  color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: Arial, sans-serif;
}

/* ////////// Conteneur de l'installation ////////// */
.install-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.658);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.3s ease;
  border: 1px solid transparent;
  padding: 20px;
  border-radius: 10px;
}

/* ////////// Titre + Intro ////////// */
.install-container h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.install-note {
  font-size: 18px;
  margin-bottom: 40px;
  opacity: 0.8;
}

/* ////////// Bouton : Télécharger ////////// */
.btn-install {
  display: inline-block;
  background-color: #4e2a84;
  color: #fff;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 8px;
}

.btn-install:hover {
  background-color: #8559c4;
}

/* ////////// Configuration Minimale + Recommandée ////////// */
.system-reqs-dual {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.system-req-column {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
  color: #f5f5f5;
}

.system-req-column h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #b9a9ff;
  font-family: Arial, sans-serif;
  text-align: center;
}

.system-req-column ul {
  list-style: none;
  padding: 0;
}

.system-req-column li {
  margin-bottom: 10px;
  font-size: 15px;
}

/* ////////// Notes Support ////////// */
.install-notes {
  color: red;
  margin-top: 40px;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 10px;
}

.install-notes a {
  color: #b9a9ff;
  text-decoration: underline;
}

.install-notes a:hover {
  color: #8977da
}