.lr-wrapper {
  margin-bottom: 50px;
}

.lr-card {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.lr-card-header {
  background-color: #343a40;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
}

.lr-label {
  font-weight: 600;
}

.lr-input {
  border-radius: 5px;
}

.lr-btn {
  transition: background-color 0.3s ease;
}

.lr-btn:hover {
  background-color: #0056b3;
  color: #fff;
}