# ?? Fichiers sensibles
.env*
!/.env             
.env.dev
.env.docker
.env.local
.env.test
.env.prod
morningsoul/.env.prod
docker-compose.yaml

# Symfony
/morningsoul/var/
/morningsoul/vendor/

# Logs
*.log

# IDE
.vscode/
.idea/

# Node
node_modules/