/* ////////// Garder l'ensemble cohérent avec la sidebar ////////// */
/* ////////// Garder l'ensemble cohérent avec la sidebar ////////// */
/* ////////// Garder l'ensemble cohérent avec la sidebar ////////// */
.support-wrapper {
  position: relative;
  max-width: 800px; 
  margin: 0 auto;
}

/* ////////// Sidebar ////////// */
/* ////////// Sidebar ////////// */
/* ////////// Sidebar ////////// */
.support-sidebar {
  position: absolute;
  top: 0px;
  right: -270px;
  width: 250px;
  color: white;
  padding: 1rem;
  font-family: 'Montserrat';
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.6);
  /* relier background-color au hover pour obtenir un résultat */
  transition: background-color 0.3s ease;
  border: 1px solid transparent;
  border-radius: 10px;
}

.support-sidebar:hover {
  background-color: rgb(0, 0, 0);
}

.support-sidebar a {
  color: #b9a9ff;
  text-decoration: none;
}

.support-sidebar a:hover {
  color: #978dc5
}

/* ////////// Règles attribuées à l'ensemble de la section ////////// */
/* ////////// Règles attribuées à l'ensemble de la section ////////// */
/* ////////// Règles attribuées à l'ensemble de la section ////////// */
.support-separator {
  height: 4rem;
}

.support-section {
  color: #f5f5f5;
  padding-bottom: 50px;
  font-family: Arial, sans-serif;
}

/* ////////// Conteneur du formulaire ////////// */
.support-container {
  max-width: 800px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.6);
  border: 1px solid transparent;
  padding: 20px;
  border-radius: 10px;
}

/* ////////// Titre + Intro ////////// */
.support-container h2 {
  font-size: 36px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.support-note {
  font-size: 18px;
  margin-bottom: 40px;
  opacity: 0.8;
}

/* ////////// Formulaire de contact ////////// */
.support-form {
  margin-top: 40px;
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.btn-support {
  display: inline-block;
  background-color: #4e2a84;
  color: #fff;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 8px;
  text-decoration: none;
}

.btn-support:hover {
  background-color: #8559c4;
}

/* FAQ */
.support-faq {
  margin-top: 60px;
  text-align: left;
}

.support-faq h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #b9a9ff;
}

.support-faq ul {
  list-style: none;
  padding: 0;
}

.support-faq li {
  margin-bottom: 10px;
  font-size: 15px;
}

.support-faq a {
  color: #b9a9ff;
  text-decoration: underline;
}

.support-faq a:hover {
  color: #8977da
}

/* EMAIL */
.support-email {
  margin-top: 40px;
  font-size: 15px;
}

.support-email a {
  color: #b9a9ff;
  text-decoration: underline;
}

.support-email a:hover {
  color: #8977da
}