/* FOOTER : Pour les titres des listes */
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* FOOTER : Pour les listes footer */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* FOOTER : Pour le copyright */
@font-face {
  font-family: 'IBMPlexSans';
  src: url('../fonts/IBMPlexSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* HOME : Titre principal */
@font-face {
  font-family: 'OptimusPrinceps';
  src: url('../fonts/OptimusPrinceps.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* HOME : Intro + Intro secondaire */
@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* TEST : Titre HOME */
@font-face {
  font-family: 'Cinzel';
  src: url('../fonts/Cinzel-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* TEST : Sous-titres / Intro */
@font-face {
  font-family: 'IMFellEnglish';
  src: url('../fonts/IMFellEnglish-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}