{% extends 'base.html.twig' %}

{% block body %}
<div class="legals-container">
  <div class="legals-main-back">

    <div class="legals-block">
      <h2 class="legals-title">1. Qu’est-ce qu’un cookie ?</h2>
      <div class="legals-content">
        <p>Un cookie est un petit fichier texte enregistré sur le disque dur de votre terminal (ordinateur, tablette, mobile) lors de votre navigation sur un site internet. Il permet notamment de mémoriser vos préférences, d’améliorer votre expérience utilisateur ou de réaliser des analyses de trafic.</p>
        <p>Les cookies ne permettent pas d’identifier directement un utilisateur mais reconnaissent un appareil pour faciliter l’accès au service.</p>
      </div>
    </div>

    <div class="legals-block">
      <h2 class="legals-title">2. Cookies utilisés</h2>
      <div class="legals-content">
        <p>Nous utilisons des cookies techniques nécessaires au bon fonctionnement du site, ainsi que des cookies de mesure d’audience pour mieux comprendre les comportements de navigation.</p>
        <p>Des cookies tiers peuvent également être installés via des contenus embarqués (ex : vidéos, réseaux sociaux), soumis à leurs propres politiques de confidentialité.</p>
      </div>
    </div>

    <div class="legals-block">
      <h2 class="legals-title">3. Paramétrage des cookies</h2>
      <div class="legals-content">
        <p>Lors de votre première visite, un bandeau vous informe de l’utilisation des cookies et vous permet de les accepter ou de les refuser.</p>
        <p>Vous pouvez à tout moment modifier vos préférences depuis ce bandeau ou en configurant votre navigateur pour bloquer certains types de cookies.</p>
      </div>
    </div>

    <div class="legals-block">
      <h2 class="legals-title">4. Durée de conservation</h2>
      <div class="legals-content">
        <p>La durée de conservation des cookies varie en fonction de leur nature. Les cookies techniques sont conservés pendant la session ou quelques jours, tandis que les cookies de mesure d’audience peuvent être conservés jusqu’à 13 mois maximum.</p>
      </div>
    </div>

    <div class="legals-block">
      <h2 class="legals-title">5. Vos droits</h2>
      <div class="legals-content">
        <p>Conformément au RGPD, vous disposez du droit de consentir ou non au dépôt de cookies non essentiels. Vous pouvez également retirer votre consentement à tout moment via le bandeau de paramétrage ou les réglages de votre navigateur.</p>
      </div>
    </div>

  </div>
</div>
{% endblock %}