{% extends 'base.html.twig' %}

{% block body %}
<section class="page-connexion">
  <div class="connexion-container">

    <div class="connexion-header">
      <h1 class="h1-auth">Déconnexion réussie</h1>
    </div>

    <div class="connexion-card">
      <h2>Vous êtes bien déconnecté.</h2>
      <p>À très bientôt sur Morning Soul</p>
      <a href="{{ path('auth.login') }}" class="btn-connexion">Retour à la connexion</a>
    </div>

  </div>
</section>
{% endblock %}